*.zip
*.gz
*.ine
*.ce
*.he
*.o
*.lo
*.la
.libs/
.deps/
compile
depcomp
missing
src/stamp-h1
aclocal.m4
rttopo.pc
m4/
Makefile
Makefile.in
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
install-sh
librttopo_geom.h
libtool
ltmain.sh
rtin_wkt_lex.c
rtin_wkt_parse.c
rtin_wkt_parse.h
rttopo_config.h
rttopo_config.h.in
!/docker/**/Makefile
